run = "streamlit run streamlit_app.py --server.port 8501 --server.address 0.0.0.0"
language = "python3"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "streamlit run streamlit_app.py --server.port 8501 --server.address 0.0.0.0"]
